@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;600&display=swap');
@import "tailwindcss";

:root {
  --color-base: #121212;
  --color-primary: #3B82F6;
  --color-secondary: #06B6D4;
  --color-accent: #9333EA;
  --color-text: #FFFFFF;
  --color-muted: #9CA3AF;
}

.light {
  --color-base: #FFFFFF;
  --color-text: #1F2937;
  --color-muted: #6B7280;
}

.bg-gradient {
  background: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
}

html, body, #root {
  height: 100%;
  background-color: var(--color-base);
  color: var(--color-text);
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}
